@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto:700");

/* Inter font family */
@font-face {
    font-family: "Inter_Black";
    src: url("../public/font/Init/Inter-Black.otf");
}
@font-face {
    font-family: "Inter_Black_Italic";
    src: url("../public/font/Init/Inter-BlackItalic.otf");
}
@font-face {
    font-family: "Inter_Bold";
    src: url("../public/font/Init/Inter-Bold.otf");
}
@font-face {
    font-family: "Inter_Bold_Italic";
    src: url("../public/font/Init/Inter-BoldItalic.otf");
}
@font-face {
    font-family: "Inter_Extra_Bold";
    src: url("../public/font/Init/Inter-ExtraBold.otf");
}
@font-face {
    font-family: "Inter_Extra_Bold_Italic";
    src: url("../public/font/Init/Inter-ExtraBoldItalic.otf");
}
@font-face {
    font-family: "Inter_Extra_Light";
    src: url("../public/font/Init/Inter-ExtraLight.otf");
}
@font-face {
    font-family: "Inter_Extra_Light_Italic";
    src: url("../public/font/Init/Inter-ExtraLightItalic.otf");
}
@font-face {
    font-family: "Inter_Italic";
    src: url("../public/font/Init/Inter-Italic.otf");
}
@font-face {
    font-family: "Inter_Light";
    src: url("../public/font/Init/Inter-Light.otf");
}
@font-face {
    font-family: "Inter_Light_Italic";
    src: url("../public/font/Init/Inter-LightItalic.otf");
}
@font-face {
    font-family: "Inter_Medium";
    src: url("../public/font/Init/Inter-Medium.otf");
}
@font-face {
    font-family: "Inter_Inter_MediumItalic";
    src: url("../public/font/Init/Inter-MediumItalic.otf");
}
@font-face {
    font-family: "Inter_Regular";
    src: url("../public/font/Init/Inter-Regular.otf");
}
@font-face {
    font-family: "Inter_Inter_SemiBold";
    src: url("../public/font/Init/Inter-SemiBold.otf");
}
@font-face {
    font-family: "Inter_Semi_Bold_Italic";
    src: url("../public/font/Init/Inter-SemiBoldItalic.otf");
}
@font-face {
    font-family: "Inter_Thin";
    src: url("../public/font/Init/Inter-Thin.otf");
}
@font-face {
    font-family: "Inter_Thin_Italic";
    src: url("../public/font/Init/Inter-ThinItalic.otf");
}

@font-face {
    font-family: "Roboto_Regular";
    src: url("../public/font/Roboto/Roboto-Regular.ttf");
}
html,
body {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2304' height='2304' preserveAspectRatio='none' viewBox='0 0 2304 2304'%3e%3cg mask='url(%26quot%3b%23SvgjsMask4521%26quot%3b)' fill='none'%3e%3crect width='2304' height='2304' x='0' y='0' fill='url(%23SvgjsLinearGradient4522)'%3e%3c/rect%3e%3cpath d='M288 2304L2592 0L4506 0L2202 2304z' fill='url(%23SvgjsLinearGradient4523)'%3e%3c/path%3e%3cpath d='M2278 2304L-26 0L-1478 0L826 2304z' fill='url(%23SvgjsLinearGradient4524)'%3e%3c/path%3e%3cpath d='M1038.9456600069125 2304L2304 1038.9456600069125L2304 2304z' fill='url(%23SvgjsLinearGradient4523)'%3e%3c/path%3e%3cpath d='M0 2304L1265.0543399930875 2304L 0 1038.9456600069125z' fill='url(%23SvgjsLinearGradient4524)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask4521'%3e%3crect width='2304' height='2304' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient4522'%3e%3cstop stop-color='rgba(103%2c 94%2c 94%2c 1)' offset='0.82'%3e%3c/stop%3e%3cstop stop-color='rgba(14%2c 42%2c 71%2c 1)' offset='0.82'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient4523'%3e%3cstop stop-color='rgba(6%2c 73%2c 215%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(6%2c 73%2c 215%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient4524'%3e%3cstop stop-color='rgba(6%2c 73%2c 215%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(6%2c 73%2c 215%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    /* background-image: url("https://c4.wallpaperflare.com/wallpaper/592/25/112/abstract-texture-design-wallpaper-thumb.jpg"); */
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -5;
    overflow: auto;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    opacity: 1;
}

hr.style18 {
    height: 30px;

    border-style: solid;
    border-color: white;
    border-width: 3px 0 0 0;
    border-radius: 20px;
}
hr.style18:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}

.progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10px;
    background: var(--red);
    transform-origin: 0%;
}

.carousel .slider-wrapper {
    height: 20rem !important;
}
.carousel .slide .legend {
    top: 16rem !important;
    width: 100%;
    background-color: white !important;
    height: 2.2rem !important;
    color: black !important;
    opacity: 1 !important;
    padding: 10px !important;
    font-size: 12px !important;
    font-weight: bold !important;
}

body {
    font-family: "Roboto";
    background-color: #131417;
}
p {
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
        0 0 3px rgba(255, 255, 255, 0.3);
}
.title-container {
    color: #e5e5e5;
    font-size: 2.26rem;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.title-animation > div > div {
    padding: 0.25rem 0.75rem;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.title-animation div:first-child {
    animation: text-animation-title 8s infinite;
}

.first div {
    background-color: #20a7d8;
}
.second div {
    background-color: #cd921e;
}
.third div {
    background-color: #c10528;
}

@keyframes text-animation-title {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0;
    }
    20% {
        margin-top: -5.62rem;
    }
    30% {
        margin-top: -5.62rem;
    }
    40% {
        margin-top: -11.24rem;
    }
    60% {
        margin-top: -11.24rem;
    }
    70% {
        margin-top: -5.62rem;
    }
    80% {
        margin-top: -5.62rem;
    }
    90% {
        margin-top: 0;
    }
    100% {
        margin-top: 0;
    }
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block !important;
    vertical-align: middle;
}
